.main {
    margin: 2rem;
    margin-top: 4rem;
    height: 85%;
}

.project {
    height: 40%;
    border-radius: 15px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.project p {
    padding: 0;
    padding-right: 3rem;
    margin: 0
}

.project-header {
    margin-bottom: 0.5rem;
}

.project-header h3,
.project-header p {
    margin: 0;
    padding: 0;
}

.redirect-button {
    border: 0;
    background: none;
    transition: all 0.3s ease;
}

.redirect-button:hover {
    transform: scale(1.1);
}