/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: consolas, "Courier New";
  font-size: 10px;
}

/* header */

.header-active {
  color: rgb(2, 198, 247) !important;
  text-decoration: underline !important;
}

.bg {
  position: absolute;
  top: 0%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1000;
}

p {
  font-size: 1.2rem;
}

.redirect-button {
  border: 0;
  background: none;
  transition: all 0.3s ease;
}

.redirect-button:hover {
  transform: scale(1.1);
}

b {
  font-weight: 450 !important;
}
