.main{
    margin: 1rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    
    flex-direction: column;
    height: 100%;
}

.introduce{
    text-align: center;
    height: fit-content;
    margin-top: 4rem;
}

.introduce p1{
    font-size: 2rem;
}